#splash{
	background:url("splash.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size:cover;
	height: 430px;
	width:100%;
	text-align: center;
	padding-top:150px; 
	font-family: 'Stint Ultra Expanded', cursive;
	font-size: 50px;
	color:black;
	text-decoration: underline;
}
body{
	margin: 0px;
	height: 4000px;
}
#navbar {
	border: 0;
	background-color: white;
	margin-bottom: 0;
    height: 30px;
    margin-top: 10px;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
    background-color: white;
} /*for scroll*/
.navelements{
    margin: 0;
}
.navelements li {
	display: inline-block;
    margin:0px;
    width: 19.5%;
    text-align: center;
}
#rightborder{
	border-right-style: solid;
}
hr{
	width: 85%;
}
/*slides*/
#about{
	height: 430px;
	background-color: black;
	width: 100%;
	color: white;
}
#portfolio{
	height: 430px;
	background-color: black;
	width: 100%;
	color: white;
}
#contact{
	height: 430px;
	background-color: black;
	width: 100%;
	color: white;
}
#buttons{
	height: 100px;
	background-color: blue;
}
a:link{
	text-decoration: none;
	color: black;
}